In [ ]:
pokelist=[12,13,14,"poke","jigglipuff",1,2]
for poke in pokelist:
  # point(poke)
 print(pokelist)

[12, 13, 14, 'poke', 'jigglipuff', 1, 2]
[12, 13, 14, 'poke', 'jigglipuff', 1, 2]
[12, 13, 14, 'poke', 'jigglipuff', 1, 2]
[12, 13, 14, 'poke', 'jigglipuff', 1, 2]
[12, 13, 14, 'poke', 'jigglipuff', 1, 2]
[12, 13, 14, 'poke', 'jigglipuff', 1, 2]
[12, 13, 14, 'poke', 'jigglipuff', 1, 2]

In [ ]:

v1="pikachu"
v2="raichu"
for v in v1:

 print(v)
 print(v)
 print(v1[0])
 print(v1[3])

p
p
p
a
i
i
p
a
k
k
p
a
a
a
p
a
c
c
p
a
h
h
p
a
u
u
p
a

In [ ]:
l1=['pikachu_1','charmander_2','pushpa_3','ganesh_9','bunnygadu_4']
print(v1[0])
print(v1[-1])
print(v1[2])
print(v1[3])
print(v1[:3])
print(v1[-3:])
print(v1[-1:-4:-1])
print(v1[::-1])

p
u
k
a
pik
chu
uhc
uhcakip

In [29]:
L=["bulbasur_1","coocoo_2","squirtle_142","charmander_4","grasdon_5","se10","rocky_11","onyx_12","raichu_13","koko_14","palka_15","charlizard_16"]
for x  in L:
  print(x[:-3])
for L in L:
  print(L[-4:-1])

bulbasu
cooco
squirtle_
charmande
grasdo
sevipar
para
greninj
genga
mew
rocky
onyx
raichu
koko
palka
charlizard
ur_
oo_
_14
er_
on_
r_6
as_
ja_
ar_
w_1
y_1
x_1
u_1
o_1
a_1
d_1

In [35]:
L=["bulbasur_1","coocoo_2","squirtle_142","charmander_4","grasdon_5","se10","rocky_11","onyx_12","raichu_13","koko_14","palka_15","charlizard_16"]
for i in L[::2]:
  k=i.find('_')
  print(i[:k])

bulbasur
squirtle
grasdon
rocky
raichu
palka

In [83]:
L=["bulbasur_1","coocoo_2","squirtle_142","charmander_4","grasdon_5","se10","rocky_11","onyx_12","raichu_13","koko_14","palka_15","charlizard_16"]
for i in L:
  k=i.startswith("g")
  if k==True:
    l1=i.find('_')
    print(i)
    print(i[:l1])

grasdon_5
grasdon

In [75]:
L2=[1,2,3,4,5,]
for i in L[::2]:
  L2.append(i)